[submodule "Data-Storage"]
	path = Data-Storage
	url = https://github.com/ATNoG/pei-nwdaf-data-storage
	branch = main
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/ATNoG/pei-nwdaf-frontend.git
	branch = main
[submodule "Data-Processor"]
	path = Data-Processor
	url = https://github.com/ATNoG/pei-nwdaf-data-processor
	branch = main
[submodule "Ingestion-Service"]
	path = Ingestion-Service
	url = https://github.com/ATNoG/pei-nwdaf-data-ingestion.git
	branch = main
[submodule "ML"]
	path = ML
	url = https://github.com/ATNoG/pei-nwdaf-ml.git
	branch = main
[submodule "Infra"]
	path = Infra
	url = https://github.com/ATNoG/pei-nwdaf-infra.git
	branch = main
[submodule "Policy"]
	path = Policy
	url = https://github.com/ATNoG/pei-nwdaf-policy.git
	branch = main
[submodule "Decision"]
	path = Decision
	url = https://github.com/ATNoG/pei-nwdaf-decision.git
	branch = main
[submodule "packages"]
	path = packages
	url = https://github.com/ATNoG/pei-nwdaf-comms
