[submodule "Documentation"]
	path = Documentation
	url = https://github.com/ATNoG/pei-nwdaf-microsite.git
	branch = main
[submodule "Data-Storage"]
	path = Data-Storage
	url = https://github.com/ATNoG/pei-nwdaf-data-storage
	branch = main
[submodule "Comms"]
	path = Comms
	url = https://github.com/ATNoG/pei-nwdaf-comms
	branch = main
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:ATNoG/pei-nwdaf-frontend.git
	branch = main
[submodule "Data-Processor"]
	path = Data-Processor
	url = https://github.com/ATNoG/pei-nwdaf-data-processor
	branch = main
[submodule "Network-Producer"]
	path = Network-Producer
	url = https://github.com/ATNoG/pei-nwdaf-network-producer
	branch = main
[submodule "Ingestion-Service"]
	path = Ingestion-Service
	url = https://github.com/ATNoG/pei-nwdaf-data-ingestion.git
	branch = main
[submodule "ML"]
	path = ML
	url = git@github.com:ATNoG/pei-nwdaf-ml.git
	branch = main
[submodule "Infra"]
	path = Infra
	url = git@github.com:ATNoG/pei-nwdaf-infra.git
	branch = main
[submodule "Template"]
	path = Template
	url = git@github.com:ATNoG/pei-nwdaf-template.git
	branch = main
